Gadget_Hub/Web References/localhost3/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RequestQuotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestQuotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestQuotationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSentQuotations">
        <s:complexType />
      </s:element>
      <s:element name="GetAllSentQuotationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSentQuotationsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceivedQuotations">
        <s:complexType />
      </s:element>
      <s:element name="GetReceivedQuotationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceivedQuotationsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReceivedQuotationStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="quotationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReceivedQuotationStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateReceivedQuotationStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllOrdersWithDetails">
        <s:complexType />
      </s:element>
      <s:element name="GetAllOrdersWithDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllOrdersWithDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateOrderStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateProfileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestQuotationSoapIn">
    <wsdl:part name="parameters" element="tns:RequestQuotation" />
  </wsdl:message>
  <wsdl:message name="RequestQuotationSoapOut">
    <wsdl:part name="parameters" element="tns:RequestQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSentQuotationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSentQuotations" />
  </wsdl:message>
  <wsdl:message name="GetAllSentQuotationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSentQuotationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceivedQuotationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceivedQuotations" />
  </wsdl:message>
  <wsdl:message name="GetReceivedQuotationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceivedQuotationsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateReceivedQuotationStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateReceivedQuotationStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateReceivedQuotationStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateReceivedQuotationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllOrdersWithDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllOrdersWithDetails" />
  </wsdl:message>
  <wsdl:message name="GetAllOrdersWithDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllOrdersWithDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderDetails" />
  </wsdl:message>
  <wsdl:message name="GetOrderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProfileSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="UpdateProfileSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminServiceSoap">
    <wsdl:operation name="RequestQuotation">
      <wsdl:input message="tns:RequestQuotationSoapIn" />
      <wsdl:output message="tns:RequestQuotationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSentQuotations">
      <wsdl:input message="tns:GetAllSentQuotationsSoapIn" />
      <wsdl:output message="tns:GetAllSentQuotationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceivedQuotations">
      <wsdl:input message="tns:GetReceivedQuotationsSoapIn" />
      <wsdl:output message="tns:GetReceivedQuotationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReceivedQuotationStatus">
      <wsdl:input message="tns:UpdateReceivedQuotationStatusSoapIn" />
      <wsdl:output message="tns:UpdateReceivedQuotationStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrdersWithDetails">
      <wsdl:input message="tns:GetAllOrdersWithDetailsSoapIn" />
      <wsdl:output message="tns:GetAllOrdersWithDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <wsdl:input message="tns:GetOrderDetailsSoapIn" />
      <wsdl:output message="tns:GetOrderDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <wsdl:input message="tns:UpdateOrderStatusSoapIn" />
      <wsdl:output message="tns:UpdateOrderStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input message="tns:UpdateProfileSoapIn" />
      <wsdl:output message="tns:UpdateProfileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceSoap" type="tns:AdminServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestQuotation">
      <soap:operation soapAction="http://tempuri.org/RequestQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSentQuotations">
      <soap:operation soapAction="http://tempuri.org/GetAllSentQuotations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedQuotations">
      <soap:operation soapAction="http://tempuri.org/GetReceivedQuotations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReceivedQuotationStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateReceivedQuotationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrdersWithDetails">
      <soap:operation soapAction="http://tempuri.org/GetAllOrdersWithDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <soap:operation soapAction="http://tempuri.org/GetOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminServiceSoap12" type="tns:AdminServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestQuotation">
      <soap12:operation soapAction="http://tempuri.org/RequestQuotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSentQuotations">
      <soap12:operation soapAction="http://tempuri.org/GetAllSentQuotations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedQuotations">
      <soap12:operation soapAction="http://tempuri.org/GetReceivedQuotations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReceivedQuotationStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateReceivedQuotationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrdersWithDetails">
      <soap12:operation soapAction="http://tempuri.org/GetAllOrdersWithDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <soap12:operation soapAction="http://tempuri.org/GetOrderDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap12:operation soapAction="http://tempuri.org/UpdateProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="AdminServiceSoap" binding="tns:AdminServiceSoap">
      <soap:address location="https://localhost:44397/AdminService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminServiceSoap12" binding="tns:AdminServiceSoap12">
      <soap12:address location="https://localhost:44397/AdminService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>