Gadget_Hub/Web References/localhost4/CartService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCartItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCartItemsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartTotal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartTotalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCartTotalResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFromCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cartId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFromCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveFromCartResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateQuantity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cartId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateQuantityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateQuantityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckoutAndSaveOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckoutAndSaveOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckoutAndSaveOrdersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCartItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCartItems" />
  </wsdl:message>
  <wsdl:message name="GetCartItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCartItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCartTotalSoapIn">
    <wsdl:part name="parameters" element="tns:GetCartTotal" />
  </wsdl:message>
  <wsdl:message name="GetCartTotalSoapOut">
    <wsdl:part name="parameters" element="tns:GetCartTotalResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveFromCartSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveFromCart" />
  </wsdl:message>
  <wsdl:message name="RemoveFromCartSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveFromCartResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateQuantitySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateQuantity" />
  </wsdl:message>
  <wsdl:message name="UpdateQuantitySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="CheckoutAndSaveOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:CheckoutAndSaveOrders" />
  </wsdl:message>
  <wsdl:message name="CheckoutAndSaveOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:CheckoutAndSaveOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="CartServiceSoap">
    <wsdl:operation name="GetCartItems">
      <wsdl:input message="tns:GetCartItemsSoapIn" />
      <wsdl:output message="tns:GetCartItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCartTotal">
      <wsdl:input message="tns:GetCartTotalSoapIn" />
      <wsdl:output message="tns:GetCartTotalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromCart">
      <wsdl:input message="tns:RemoveFromCartSoapIn" />
      <wsdl:output message="tns:RemoveFromCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuantity">
      <wsdl:input message="tns:UpdateQuantitySoapIn" />
      <wsdl:output message="tns:UpdateQuantitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckoutAndSaveOrders">
      <wsdl:input message="tns:CheckoutAndSaveOrdersSoapIn" />
      <wsdl:output message="tns:CheckoutAndSaveOrdersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CartServiceSoap" type="tns:CartServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCartItems">
      <soap:operation soapAction="http://tempuri.org/GetCartItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartTotal">
      <soap:operation soapAction="http://tempuri.org/GetCartTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromCart">
      <soap:operation soapAction="http://tempuri.org/RemoveFromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuantity">
      <soap:operation soapAction="http://tempuri.org/UpdateQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckoutAndSaveOrders">
      <soap:operation soapAction="http://tempuri.org/CheckoutAndSaveOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CartServiceSoap12" type="tns:CartServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCartItems">
      <soap12:operation soapAction="http://tempuri.org/GetCartItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartTotal">
      <soap12:operation soapAction="http://tempuri.org/GetCartTotal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromCart">
      <soap12:operation soapAction="http://tempuri.org/RemoveFromCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuantity">
      <soap12:operation soapAction="http://tempuri.org/UpdateQuantity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckoutAndSaveOrders">
      <soap12:operation soapAction="http://tempuri.org/CheckoutAndSaveOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CartService">
    <wsdl:port name="CartServiceSoap" binding="tns:CartServiceSoap">
      <soap:address location="https://localhost:44397/CartService.asmx" />
    </wsdl:port>
    <wsdl:port name="CartServiceSoap12" binding="tns:CartServiceSoap12">
      <soap12:address location="https://localhost:44397/CartService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>